@import "normalize";

html {
  min-height: 100%;
}

body {
  min-height: 600px;
  font-family: "Lato", sans-serif;
  background: url(../img/table.png) 50% 100% no-repeat;
  background-size: cover;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  h1 {
    font-size: 110px;
    font-weight: 200;
    color: black;
    padding: 0;
    margin-top: 86px;
    margin-bottom: 14.5px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 21.5px;
  }
  button {
    width: 107.5px;
    height: 27px;
    background-color: #4692e2;
    border-radius: 50px;
    color: #ffffff;
    font-size: 9px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: #61adfe;
    }
  }
}

.bg-newest {
  position: absolute;
  top: 79px;
  left: 244px;
  z-index: 0;
  p {
    color: rgba(231, 231, 231, 0.7);
    font-size: 200.3px;
    font-weight: 900;
  }
}

.left-menu {
  position: fixed;
  top: 48px;
  left: 0;
  width: 72px;
  background: #ffffff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  z-index: 6;
  .logo {
    margin-top: 16px;
    margin-bottom: 70px;
    img {
      width: 21px;
      height: 21px;
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  margin-bottom: 290px;
  img {
    height: 16px;
  }
  .nav-items:hover {
    transform: scale(1.5);
  }
}

.download {
  img {
    height: 16px;
  }
  :hover {
    transform: scale(1.5);
  }
}
.right-menu {
  background: #ffffff;
  width: 210px;
  position: fixed;
  top: 48px;
  right: 0;
  background: #ffffff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  z-index: 6;
  .aside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #ffffff;
    width: 43.5px;
    height: 43.5px;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
    margin-top: 20px;
    margin-left: 80px;
    .menu-right-button {
      img {
        width: 9.5px;
      }
    }
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .aside-navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 225px;
      margin-top: 100px;
      a:hover {
        color: #0023ff;
      }
      img {
        vertical-align: middle;
      }
    }
  }

  .client-choice {
    text-align: right;
    .link-nav {
      font-size: 9px;
      color: #c1c1c1;
      letter-spacing: 0.45px;
      text-decoration: none;
      margin-right: 9px;
    }
    img {
      width: 27px;
    }
  }
  .search-nav {
    font-size: 9px;
    color: #c1c1c1;
    letter-spacing: 0.45px;
    text-decoration: none;
  }
  .link-categories {
    margin-top: 145px;
    a {
      font-weight: bold;
      color: #0023ff;
    }
    hr {
      width: 78.5px;
      border: none;
      height: 2px;
      background-color: #0023ff;
    }
    a:hover {
      color: #4692e2;
    }
  }
}
